.staff-card-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.staff-page{
    margin-left: 200px;
}

.search{
    margin-bottom: 20px;
}

#search-bar{
    margin-right: 10px;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    height: 20px;
    padding-left: 5px;
}

.search-icon{
    margin-bottom: 3px;
    padding: 0;
}
