.staff-card-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.staffPage{
    margin-left: 200px;
}

.search{
    margin-bottom: 20px;
}

#searchBar{
    margin-right: 10px;
}

