.user-input{
    text-align: left;
    display: block;
    margin: 16px 0;
}
.add-staff-container{
    display: inline-flex;
}
.first-name-input{
    margin-top:0;
}
.add-staff-container{
    background-color: #64b4ce;
    border-radius: 4px;
    width: 300px;
    height: auto;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}